<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NALAM</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <style>
        /* Center the logo both horizontally and vertically */
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ensure the container takes up the full viewport height */
        }
        
        /* Style the logo */
        .logo {
            width: 200px;
        }

    
    </style>

</head>
<body>


<header>
</header>

<!---------Top Panel-------->
<nav class="navigation-panel">
    <div class="logo">
        <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
    </div>
    <div class="email-container">
        <p>Welcome {{ email }}. You are admin.</p>
    </div>
    <ul class="nav-links">
        <li><a href="/admin_page">Users Data</a></li>
        <li><a href="/admin_home">MEDIA GUIDELINES</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
</nav>
<!------------------------->


<main>
   
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR45j4UNZrCI4lSZohr4lq_MISiSjnkU-KO8jX86lKZ5zYCFvCtjd1mOmr8XKjy2euzjCGw-TL6eYb_/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</main>
<footer>
    <!-- Footer content goes here -->
</footer>


</body>
</html>