<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
    <title>Login</title>

    <style>
        /* Center the logo both horizontally and vertically */
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ensure the container takes up the full viewport height */
        }
        
        /* Style the logo */
        .logo {
            width: 200px;
        }
    </style>

</head>
<body>

    <!---------Top Panel-------->
    <nav class="navigation-panel">
        <div class="logo">
         <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo">
        </div>
     <ul class="nav-links">
         <li><a href="/">Home</a></li>
         <li><a href="/login">Login</a></li>
     </ul>
    </nav>
    <!------------------------->



    <div class="centered-container">
     
    <div class="login-container">
      
        <form action="/userlogin" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        
        <div class="spacer"></div> <!-- Add a spacer div with CSS class -->
        <a href="/register">Register</a>
    </div>
</div>

</body>
</html>
